<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.project.catcaring.mapper.PostMapper">

  <resultMap id="PostListMap" type="com.project.catcaring.dto.post.PostListInfo">
    <result property="id" column="id" />
    <result property="userId" column="user_id" />
    <result property="title" column="title" />
    <result property="createdAt" column="created_at" />
  </resultMap>

  <resultMap id="PostMap" type="com.project.catcaring.domain.Post">
    <result property="id" column="id" />
    <result property="userId" column="user_id" />
    <result property="title" column="title" />
    <result property="content" column="content" />
    <result property="authorityCode" column="authority_code" />
    <result property="createdAt" column="created_at" />
  </resultMap>

  <insert id="insertPostInfo" parameterType="com.project.catcaring.domain.Post">
    INSERT INTO post(user_id, title, content, authority_code, status, created_at)
    VALUES (#{userId}, #{title}, #{content}, #{authorityCode}, #{status}, NOW())
  </insert>

  <select id="findLastPostByUserId" resultType="Long">
    SELECT id FROM post
    WHERE user_id = #{userId}
    ORDER BY created_at DESC LIMIT 1
  </select>

  <insert id="insertLocationInfo" parameterType="com.project.catcaring.domain.Address">
    INSERT INTO address (post_id, location, location_detail, authority_code)
    VALUES (#{postId}, #{location}, #{locationDetail}, #{authorityCode})
  </insert>

  <insert id="insertTagInfo" parameterType="com.project.catcaring.domain.Tag">
    INSERT INTO tag(post_id, tag_name)
    VALUES (#{postId}, #{tagName})
  </insert>

  <update id="deletePost" parameterType="Long">
    UPDATE post SET
      status = 'DELETED'
    WHERE id = #{postId} AND user_id = #{userId}
  </update>

  <update id="updatePostContent" parameterType="com.project.catcaring.dto.post.PostUpdateInfo">
    UPDATE post SET
    content = #{content}
    <if test = "postAuthorityCode != null">
      , authority_code = #{postAuthorityCode}
    </if>
    , modified_at = NOW()
    , status = 'MODIFIED'
    WHERE id = #{postId} AND user_id = #{userId}
  </update>

  <update id="updatePostLocation" parameterType="com.project.catcaring.dto.post.PostUpdateInfo">
    UPDATE address SET
    <if test = "location != null">
      location = #{location}
    </if>
    <if test = "locationDetail != null">
      <if test = "location != null">
        ,
      </if>
      location_detail = #{locationDetail}
    </if>
    <if test = "locationAuthorityCode != null">
      <if test = "location != null || locationDetail != null">
        ,
      </if>
      authority_code = #{locationAuthorityCode}
    </if>
    WHERE post_id = #{postId}
  </update>

  <select id="findAllPosts" parameterType="com.project.catcaring.dto.post.PageRequest"  resultMap="PostListMap">
    SELECT id, user_id, title, created_at
    FROM cat_community.post
    orders LIMIT #{size} OFFSET #{offset}
  </select>

  <select id="isExistingPost" resultType="boolean">
    SELECT EXISTS (SELECT 1 FROM post WHERE id = #{postId})
  </select>

  <select id="viewPostDetail" parameterType="Long" resultMap="PostMap">
    SELECT * FROM post WHERE id = #{postId}
  </select>

  <select id="getTagInfo" parameterType="Long" resultType="com.project.catcaring.domain.Tag">
    SELECT * FROM tag WHERE post_id = #{postId}
  </select>
</mapper>